.portfolio__container {
    /* background-color: #e9f6ed;
    border-radius: 1rem; */
    height: auto;
    /* padding-right: 10rem;
    padding-left: 10rem; */
    padding: 5rem 10rem;
    display: grid;
    /* grid-template-columns: repeat(2, auto); */
    /* gap: 2.5rem; */
    row-gap: 0.5rem;
    /* padding-top: 1rem; */
    grid-auto-rows: 5rem;

}

.card {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card__right {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

/* .card__img {
    background: #bc7d0f;
    border: 1px solid rgb(57, 55, 55);
    border-radius: 1rem;
    padding: 1rem;
    transition: var(--transition);
    box-shadow: 5px 5px 10px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: fit-content;
} */

.card__img__jpg {
    border: 1px solid rgb(57, 55, 55);
    box-shadow: 5px 5px 10px grey;
    border-radius: 1rem;
    max-width: 100%;
    max-height: 100%;
    transition: var(--transition);
}

.card__img__jpg:hover {
    transform: scale(1.05);
}

.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

.box2 {
    grid-column: 4 / 8;
    grid-row: 1 / 5;
}

.box3 {
    grid-column: 1 / 5;
    grid-row: 6 / 10;
}

.box4 {
    grid-column: 7 / 8;
    grid-row:  6 / 10;
}

.box5 {
    grid-column: 1 / 2;
    grid-row: 11 / 15;
}

.box6 {
    grid-column: 4 / 8;
    grid-row:  11 / 15;
}


article > h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

article > h2 {
    padding-bottom: 2rem;
    text-decoration: underline;
}

.cta {
    display: flex;
    gap: 0.5rem;
    flex-shrink: 0;
}

.skills__icons {
    display: flex;
    font-size: 1.5rem;
    padding: 1rem 0;
}

@media screen and (max-width: 992px) {
    .card {
        padding: 1rem;
    }

    .portfolio__container {
        padding: 5rem 1.5rem;
    }
}