.about__container {
    height: auto;
    padding-top: 5rem;
    /* background-color: #f4f3ef;
    border-radius: 1rem; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: center;
    gap: 7rem;
}


.about__img {
    /* border: 1px solid rgb(57, 55, 55); */
    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    flex-shrink: 0;
    overflow: hidden;
    object-fit: cover;
}

.about__img__container {
    width: 20rem;
    height: 30rem;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    background: linear-gradient(
        45deg,
        transparent,
        #f8d49b,
        transparent
    );
    box-shadow: 5px 5px 10px grey;

}

.about__card {
    width: 40rem;
    height: 30rem;
    padding: 1.5rem;
    word-wrap: break-word;
    text-align: justify;
}

article > h3 {
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 992px) {
    .about__container {
        padding-top: 0rem;
        gap: 4rem;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    article > h3 {
        text-align: center;
        padding-bottom: 1rem;
        font-family: 'Roboto', sans-serif;
    }

    .about__card {
        padding: 0rem;
        text-align: justify;
    }
}