footer {
    margin-top: 2rem;
    /* height: 5vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    /* border-top: 1px solid rgb(207, 205, 205); */
}

footer > p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

footer > p > a {
    color: var(--color-white);
    transition: var(--transition);
}

footer > p > a:hover {
    color: var(--color-primary);
}